<html>
<head>
  <title>Women's World !Help</title>
</head>
<body>

<h1>Help</h1>
<p>Find me in app/views/pages/help.html.erb</p>
<%= link_to "Sign up now!", signup_path , :class => "signup_button round"  %>
</body>
</html>
