<html>
<head>
<title>Women's World ! home</title>
</head>
<body>
<h1>Welcome To Women's World</h1>
 <p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Sign up now!", signup_path , :class => "signup_button round"  %>

</body>
</html>
